body {
    color: rgb(181, 184, 190);
    background-color: rgb(67, 67, 228);
}
h1 {
    text-decoration: underline;
    text-decoration-style: wavy;
    color: rgb(238, 241, 247);
}
#html-css-header {
    color: rgb(221, 224, 230);
}

    .underline {
        text-decoration: underline;
    }